*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family:Arial, Helvetica, sans-serif
}
body{
  background-color: #A9A9A9;
}


.app-container{
  display: flex;
  flex-direction: column;
  max-width:100%;
  margin: 20px 20px;
}


