*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: rgb(141, 207, 210);
}


.app-container{
  display: flex;
  flex-direction: column;
  max-width:100%;
  margin: 20px 20px;
}


